@charset "utf-8";
/* CSS Document */
body {margin:0; padding:0 ;width: 100%; background-color:#CCC;}
html {padding:0; margin:0;}
a {text-decoration:none;}
a:hover{text-decoration:underline;} 
/*main*/
.main {padding:0 ;margin:0 auto; }
/*header*/
.block_header {margin:0; padding:0; background-color:#454545;}
.header {width:960px; margin:0 auto; padding:0;}
/*Titulo*/
.titulo {padding:0;  margin:0 0 0 10px; width:180px; float: left;}
/*.titulo h1 { margin:0; padding: 5px; font-family:'Rancho', cursive; font-size:55px; color:#CCC; text-decoration:none;  }

.titulo p {font-size:30px; font-family:'Rancho', cursive; margin:0; padding:0;color:#CCC;}*/

/*menu*/
.menu{padding: 85px 0 0 0; margin:0;width:600px;float:right;}
.menu ul {text-align:left; padding:0; margin:0; list-style:none; border: 0; float: right;}
.menu ul li{float:left; margin:0; padding:0; border:0;}
.menu ul li a{border-right:1px solid #525252; float: left; margin:0; padding: 5px 10px; color:#fff
; font-family: 'Rancho', cursive; font-size:12px; text-decoration:none;}
.menu ul li a:hover{text-decoration:underline;}
.menu ul li a.active{text-decoration:underline;}
/*¨menu2*/
.text_bg{ background-color: #666; margin:0; padding:0;border-top: 1px solid #141414}
.text_bg_resize{ width:960px; margin:0 auto; padding:0;}
.text_bg_resize p{margin:0; padding:10px;}
menu{padding: 85px 0 0 0; margin:0;width:600px;float:right;}
.menu2 ul {text-align:left; padding:0; margin: 10px 0 10px 0; list-style:none; border: 0; float: left;}
.menu2 ul li{float:left; margin: 0 5px 0 0; padding:0; border:0;}
.menu2 ul li a{border-right:1px solid  #CCC; float: left; margin:0; padding: 5px 5px 5px 2px; color:#fff
; font: normal 11px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; text-decoration:none;}
.menu2 ul li a:hover{text-decoration:underline;}
.menu2 ul li a.active{text-decoration:underline;}
/*banner*/
.main_banner{margin 0 auto; padding: 0; border-top: inset #666666;}
.block_banner{margin:0;padding 0;background-color:#333;}
.banner {width:960px; margin: 0 auto; padding:0;}
.img {margin: 0; padding: 10px; text-align:center;} 
/*FBG*/
.FBG {background-color:#454545; border-top: 1px inset #383838; margin:0; padding:0;}
.FBG_resize{ width: 960px; margin:0 auto; padding: 20px 0; }
.FBG_resize p{font:normal 11px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color: #dfdfdf; margin:0; line-height: 1.8em; padding:5px; text-align:justify;}
.FBG_resize a{ color:#fff; font: normal 11px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; text-decoration: none; margin-left:60px;}
.FBG_resize h2{ font: normal 14px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#f4f3f3; margin:0; padding: 5px; text-transform:uppercase;}
.FBG_resize img{ float:left; margin:10px 5px; padding:0;}
.blog {width:310px; float:left; margin:0; padding:10px 5px; background-color:#454545;}
/*body*/
.body_resize {background-color:#CCC; border-top: 1px solid #141414; margin:0; padding:0;}
.body{ width: 960px; margin:0 auto; padding: 10px 0;}
.body h2{font: normal 18px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333; margin:0; padding: 10px 10px;}
.body h2 span{font:normal 11px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#666;}
.body h3{font: normal 25px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color: black; margin:0 0 15px 0;  padding:15px 5px; border-bottom:1px solid #d7d7d7;}
.body h3 span{font:normal 14px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#666; }
.body img{ float:left; margin: 10px 5 px; padding:0;}
.body p{font:normal 12px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#666; margin:0; line-height: 1.8em; padding:0; text-align:justify;}
.body a{text-decoration:none; color:#0097e7; line-height:1.8em; font: normal 12px Arial, Helvetica,  sans-serif;}
.left {width:310px; background-color: #fff; float:left; border: solid 1px #ececec; padding: 5px 1px; margin: 5px 2px;}
.port {width:958px; background-color: #fff; float:left; border: solid 1px #ececec; padding: 0; ; margin: 10px 0 20px 0;}
.port ul li{font:normal 12px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#666; margin:0; line-height: 1.8em; padding:0;}
.port p{margin: 0 10px; text-align:justify;}
.ed { float:left; padding:0; margin:10px 20px;}


.contact_left{width:585px; float:left; padding:10px 0; margin:0;}
.contact_right{width:280px; float:right;padding:10px 0; margin:0;}
.contact_right strong{margin-left:10px; line-height:3em;}
.contact_right img{margin:15px 0 0 px;}
/*footer*/
.footer_resize{background-color:#999; margin:0; padding:0;}
.footer {width: 960px; margin:0 auto; padding: 10px 0 20px 0;}
.footer p{font: normal 11px Arial, Helvetica, sans-serif; color:#737373;}
.footer a{font:normal 11px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color: #454545; text-decoration:none; padding: 20px 0 0 10px ; margin: 0; line-height:2em;}
.footer p.leftt{ text-align:left;float:left; width:50%; padding:5px 0 10px 0 ; margin:0;}
.footer p.rightt{ text-align:right; float:right; padding:15px 0 0 0; margin:0; width:30%;}
.footer a:hover{text-decoration:underline;}
/*contact form*/
#contactform {margin:0; padding: 5px 10px;}
#contactform ol{margin:0; padding:0; list-style:none;}
#contactform li{margin:0; padding:0 ; background:none; border: none; display:block; clear: both;}
/*#contactform li.buttons{margin 5px 0 5px 0;}*/
#contactform label{margin 0; padding: 10px 0 15px 0px; width:110px; display: block; color:#605f5f; font:normal 12px Arial, Helvetica, sans-serif; text-transform:capitalize;  float:left}
#contactform label span{color:#f00;}
#contactform input{background:#F00; border: 1px solid #e8e8e8; margin: 5px 0; padding:2px; background:#fff; float:left;}
#contactform textarea { width:410px; border: 1px solid #e8e8e8; margin: 10px 0; padding:2px; background:#fff; float:left;}
#contactform li button{border:0; padding:0; margin:0;}
#contactform li button.submit { padding:0; margin:10px 5px 5px 110px; width:126px; height:36px; background:url(images/send.gif) no-repeat; float:left; }
#contactform li button.reset { margin:10px 0 0 30px; width:126px; height:36px; background:url(images/delete.gif) no-repeat; float:left }
.block_iframe{  margin: 0; padding: 0;}
.iframe_bg{width:960px;padding:0  auto; margin: 30px auto;}

.clr{clear:both; padding:0; margin:0; width:960 px;}